.text-container{
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.teste-video{
    width: 100%;
    height: 100vh;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}